.about__container{
    grid-template-columns: 2fr 6fr;
    column-gap: 1.875rem;
    align-items: center;
}
.section__title{
    text-align: center;
}

.about__img{
    border-radius: 50%;
    transition: all ease .3s; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    cursor: pointer; 
}

.about__img:hover{
    border: 1px solid rgba(130, 129, 129, 0.525);
    transform: scale(1.03);
}

.about__data{
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    gap: 1rem;
    
}

.about__info{
    text-transform: capitalize;
}
.btn{
  margin-top: 1.5rem;
}

.zoom-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    overflow: auto;
  }
  
  .zoom-in img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
    cursor: pointer; 
  }

  @media screen and (max-width: 1024px) {
    .about__container{
        grid-template-columns: 720px;
        justify-content: center;
        row-gap: 1.875rem;
    }
    .about__img{
        justify-self: center;
        width: 200px;
    }
    .about__info{
        text-align: center;
    }
  }
